<!--<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <heatmap id="basket_heatmap" data="$ctrl.heatmapData" config="$ctrl.heatmapConfig"></heatmap>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-4"><h3>Baskets</h3></div>
            </div>
            <div class="row">
                <div class="col-sm-4"><label>Reparto Uomo</label></div>
                <div class="col-sm-4">15</div>
            </div>
            <div class="row">
                <div class="col-sm-4"><label>Reparto Donna</label></div>
                <div class="col-sm-4">60</div>
            </div>
            <div class="row">
                <div class="col-sm-4"><label>Cosmetici</label></div>
                <div class="col-sm-4">95</div>
            </div>
        </div>
    </div>
</div>-->


<!--<div class="container-fluid">
    <div class="row" ng-repeat="heatmap in $ctrl.heatmaps">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <heatmap id="basket_heatmap" data="heatmap.data" config="heatmap.config"></heatmap>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-4"><h3>Baskets</h3></div>
            </div>
            <div class="row">
                <div class="col-sm-4"><label>Reparto Uomo</label></div>
                <div class="col-sm-4">15</div>
            </div>
            <div class="row">
                <div class="col-sm-4"><label>Reparto Donna</label></div>
                <div class="col-sm-4">60</div>
            </div>
            <div class="row">
                <div class="col-sm-4"><label>Cosmetici</label></div>
                <div class="col-sm-4">95</div>
            </div>
        </div>
    </div>
</div>-->

<div class="container-fluid">
    <div class="row" ng-repeat="heatmap in $ctrl.heatmaps">
       <basket-heatmap heatmap-id="heatmap.id" points="heatmap.points" config="heatmap.config" max-value="heatmap.maxValue"></basket-heatmap>
    </div>
</div>

