<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <i class="material-icons" style="font-size: 150px !important;">videocam</i>
        </div>
        <div class="col-sm-6" style="padding-top: 12.5%;">
            <div class="row">
                <div class="col-sm-4"><label>Status:</label></div>
                <div class="col-sm-3">Online</div>
            </div>
            <div class="row">
                <div class="col-sm-4"><label>Faces:</label></div>
                <div class="col-sm-3">{{$ctrl.recordedFaces}}</div>
            </div>
        </div>
    </div>
</div>
