<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <h4>{{$ctrl.today | date : 'fullDate' | titlecase}}</h4>
                    <br />
                    <div class="flexbox-row-left">
                        <i class="material-icons">videocam</i>&nbsp;<h5>Ingressi odierni: {{$ctrl.todayFaces || 0}}</h5>
                    </div>
                    <div class="flexbox-row-left">
                        <i class="material-icons">access_time</i>&nbsp;<h5>Orario maggior afflusso: {{$ctrl.maxAffluenceHour}}</h5>
                    </div>
                    <div class="flexbox-row-left">
                        <i class="fa fa-venus material-fa" aria-hidden="true"></i>&nbsp;<h5>Femmine in negozio: {{$ctrl.femalesCount}}</h5>
                    </div>
                    <div class="flexbox-row-left">
                        <i class="fa fa-mars material-fa" aria-hidden="true"></i>&nbsp;<h5>Maschi in negozio: {{$ctrl.malesCount}}</h5>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="flexbox-row-left">
                        <h4>Persone attualmente presenti in negozio: {{$ctrl.facesInStoreCount}}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div ng-repeat="chart in $ctrl.charts">
                        <div class="col-xs-12 col-md-6">
                            <canvas id="chart.id" class="chart chart-pie chart-xs" chart-data="chart.data" chart-labels="chart.labels" chart-options="chart.options" chart-dataset-override="chart.chartsOverride"></canvas>
                        </div>
                        <div class="clearfix visible-lg" ng-if="($index + 1) % 2 == 0"></div>
                        <div class="clearfix visible-md" ng-if="($index + 1) % 2 == 0"></div>
                        <div class="clearfix visible-sm" ng-if="($index + 1) % 2 == 0"></div>
                        <div class="clearfix visible-xs" ng-if="($index + 1) % 2 == 0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
