<md-toolbar class="md-whiteframe-8dp">
    <h2 class="md-toolbar-tools">
        <div>
            <md-tooltip md-autohide="true">Menu</md-tooltip>
            <md-button class="md-icon-button" ng-click="vm.closeRightSideNavPanel(); vm.openLeftSideNavPanel()">
                <md-icon class="md-default-theme material-icons">menu</md-icon>
            </md-button>
        </div>
        <span>{{vm.pageTitle || 'Portal'}}</span>
        <span flex=""></span>        
    </h2>
</md-toolbar>
<md-sidenav class="md-sidenav-left" md-component-id="left">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <i class="material-icons" style="margin-right:10px;">face</i>
            <h2>
                Faces
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="vm.closeLeftSideNavPanel()">
                <md-tooltip md-autohide="true">Close Menu</md-tooltip>
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding="">
        <md-list>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Navigate</md-subheader>
            <md-list-item>
                <i class="material-icons" style="margin-right:10px;">tv</i>
                <p ng-click="::vm.goTo('home.overview')">Overview</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Tools</md-subheader>
            <md-list-item>
                <i class="material-icons" style="margin-right:10px;">settings</i>
                <p ng-click="::vm.showSettings()">Settings</p>
            </md-list-item>
            <md-list-item>
                <i class="material-icons" style="margin-right:10px;">exit_to_app</i>
                <p ng-click="::vm.logOut()">Logout</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>


<!---->
<md-content class="md-whiteframe-8dp" style="height:600px;" ng-show="userAuthenticated()">
    <div class="overlay flexbox-row" ng-show="loadingView">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>     
    <md-sidenav class="md-sidenav-right md-whiteframe-8dp" md-component-id="right" md-disable-backdrop>
        <md-toolbar layout="row" style="background-color:#d8d8d8 !important; color:black !important;">
            <div class="md-toolbar-tools">
                <i class="material-icons" style="margin-right:10px;">store</i>
                <h2>
                    Store Tree
                </h2>                
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="vm.closeRightSideNavPanel()">
                    <md-tooltip md-autohide="true">Collapse Tree</md-tooltip>
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-padding="">
            <store-tree></store-tree>
        </md-content>
    </md-sidenav> 
    <md-content class="pull-right">        
        <div>            
            <md-button class="md-icon-button" ng-click="vm.openRightSideNavPanel()">
                <md-tooltip md-autohide="true">Open Store Tree</md-tooltip>
                <md-icon class="md-default-theme material-icons" style="color:black;">more_vert</md-icon>
            </md-button>
        </div>
    </md-content>    
    <md-content ui-view="overview"></md-content>
</md-content>
